@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: cabin , sans-serif;
 
}


/*  Navigation */

#menu{
    letter-spacing: 4px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 100px;
}
#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: rgb(96, 255, 255);
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border: 3px dashed orange;
    
}
.active {
    border-bottom: 2px solid rgb(208, 243, 55);
}


/*  Fifa picture and also cover for it. 'the cover is meant to be outside the image by the way' */

#pre-oreder-section{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../css/images/fifa-22.jpg);
    background-repeat: no-repeat;
    position: relative;
  
}
    

#pre-order-div{
    width: 500px;
    height: 300px;
    position:absolute;
   margin-top: 500px;
   margin-left: 850px ;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
   text-align: center;
}
#pre-order-div h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
 
}


#pre-order-div p{
    color: #fff;
    font-size: 20px;
    text-align: center;
 
}
#pre-order-div span{
    font-size: 35px;
    color: orange;
    text-align: center;
}

   