@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: cabin , sans-serif;
 
}


/*  Navigation */

#menu{
    letter-spacing: 4px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 100px;
}
#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: orange;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border: 3px dashed orange;
    
}
.active {
    border-bottom: 2px solid rgb(208, 243, 55);
}


/*  Fifa picture and also cover for it. 'the cover is meant to be outside the image by the way' */

#pre-oreder-section{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../css/images/fifa-22.jpg);
    background-repeat: no-repeat;
    position: relative;
  
}
    

#pre-order-div{
    width: 500px;
    height: 300px;
    position:absolute;
   margin-top: 500px;
   margin-left: 850px ;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
   text-align: center;
}
#pre-order-div h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
 
}


#pre-order-div p{
    color: #fff;
    font-size: 20px;
    text-align: center;
 
}
#pre-order-div span{
    font-size: 35px;
    color: orange;
    text-align: center;
}

/* Home page content  */
   
#content{
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;
   
    
}

#content-image{
    width: 40%;
    height: 400px;
    background-color: salmon;
    background: url(../css/images/content-pic.png) no-repeat;
    display: inline-block;
    margin-left: 110px;
    padding-top: 250px;
    
   
}
#content-paragrph{
    width: 40%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
    display: inline-block;
    margin-left: 100px;
    color: orange;
    text-align: center;
    border: 3px solid orange;
}
#content-paragrph p{
    text-align: left;
    font-size: 18px;
    color:#fff;
}



/*  Long content goes here!   */

#long-paragraph{
    width: 95%;
    height: 120px;
    margin: 0 auto;
    margin-top: 170px;
    align-items: center;
}
#long-paragraph-div{
    width: 75%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    color: orange;
    border: 4px solid orange;
}
#long-paragraph-div p{
    color: #fff;
}
#long-paragraph-div span{
    color: orange;
    font-size: 25px;
}
/*  Footer */
 
#footer{
    width: 100%;
    height: 400px;
    background: url(../css/images/footer-image.jpg) no-repeat center center; 
    margin-top: 180px;
}
#footer h1{
    color:rgb(208, 243, 55);
    text-align: center;
}
#footer h2{
    color:rgb(208, 243, 55);
    text-align: center;
    text-transform: uppercase;
}
#footer h3{
    color:rgb(208, 243, 55);
    text-align: center;
}
.Social-networks{
    font-size: 120px;
    text-align: center;
}
.Social-networks > li{
display: inline;
}
.Social-networks i{
    color: rgb(208, 243, 55);
margin: 35px;
padding: 20px;
}
.Social-networks i:hover{
    color: orange;
}
.Social-networks a{
    text-decoration: none;
}
/* Media screens sizes */
/*  For medium screen sizes  */

@media  screen and (max-width:1158px) {
    #pre-order-div{
        margin-top: 500px;
        margin-left:  250px; 
    }
    #footer{
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
margin-left:10px;
    }
    #footer h2{
        font-size: smaller;
    }
    .Social-networks{
font-size: 80px;
    }
    #long-paragraph{
        padding-top: 100px;
    }
    #content{
        width: 100%;
    }
    #content-image{
position: absolute;
    }
    /* #content-paragrph{

    } */
}
/*  Media quiers for 950px wide down */

@media screen and (max-width:950px) {
    #footer{
        margin-left: 100px;
        width: 100%;
    }
    #long-paragraph{
        width: 95%;
    height: 130px;
    }
    #long-paragraph-div{
        width: 100%;
        height: 130px;
        margin-left:  120px; ;
    }
    #content{
        margin-left:120px;
    }
    #content-image{
margin-left: 10px;
    }
}